@model BoatsRentingSystem.MVC.Models.CustomerViewModel

@{
    ViewData["Title"] = "Customer Details";
}

<h2>Customer Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>First Name</dt>
        <dd>@Model.FirstName</dd>
        <dt>Last Name</dt>
        <dd>@Model.LastName</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
        <dt>Phone Number</dt>
        <dd>@Model.PhoneNumber</dd>
        <dt>Birthday</dt>
        <dd>@Model.Birthday</dd>
        <dt>Registration Date</dt>
        <dd>@Model.RegistrationDate</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
